/* Fonts */
@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Vazir.eot');
    src: url('fonts/Vazir.eot?#iefix') format('embedded-opentype'),
        url('fonts/Vazir.woff2') format('woff2'),
        url('fonts/Vazir.woff') format('woff'),
        url('fonts/Vazir.ttf') format('truetype');
}

@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/Vazir-Bold.eot');
    src: url('fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Vazir-Bold.woff2') format('woff2'),
        url('fonts/Vazir-Bold.woff') format('woff'),
        url('fonts/Vazir-Bold.ttf') format('truetype');
}

.asteriskField {
    color: #dc3545;
}

.navbar-container {
    direction: rtl;
    text-align: right;
    padding: 15px;
    box-shadow: 0px 0px 5px #888888;
}

.navbar-container a {
    font-family: 'Vazir', Arial, sans-serif;
    font-size: 20px;
}

#navbar-brand{
    display: inline-block;
    width: 46px;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    left: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: white;
    /* Set a background color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 5px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 0 3px 0.1px black;
}

#myBtn:hover {
    background-color: rgb(189, 189, 189);
    /* Add a dark-grey background on hover */
}

.dp-item-mine {
    text-align: center;
    font-size: 8px;
}

/* .bckgrnd-image-container {
    position: relative;
} */

.img-fluid {
    width: 100%;
}

.header-container {
    background-color: rgba(0, 0, 0, 0.75);
    width: 90%;
    margin: 25px;
    margin-bottom: 75px;
    padding: 35px;
    border: 3px solid white;
    border-radius: 10px;
}

.header-container h2 {
    font-family: 'Vazir', Arial, sans-serif;
    text-align: center;
    color: white;
}

.cards-container {
    direction: rtl;
    text-align: right;
    font-family: 'Vazir', Arial, sans-serif;
}

.card {
    position: unset;
}

.card-1 {
    transform: translateX(-45%);
    width: 400px;
    border: 2px solid #CD7F32;
}

.card-header h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 7.5px;
}

.card a {
    width: 100%;
    font-family: 'Vazir', Arial, sans-serif;
}

.card p {
    direction: ltr;
    text-align: left;
}

.bronze-btn {
    background-color: #CD7F32;
    color: white;
    font-weight: bold;
}

.silver-btn {
    background-color: #C0C0C0;
    color: white;
    font-weight: bold;
}

.golden-btn {
    background-color: #FFD700;
    color: white;
    font-weight: bold;
}

.card-2 {
    width: 400px;
    border: 2px solid #C0C0C0;
    transform: translateX(-205%);

}

.card-3 {
    width: 400px;
    border: 2px solid #FFD700;
    transform: translateX(-45%);
}

.pass-reset-done-container {
    width: 55%;
    /* height: 25%; */
    text-align: center;
    direction: rtl;
    font-family: 'Vazir', Arial, sans-serif;
    box-shadow: 0 0 5px rgb(161, 161, 161);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    transform: translate(50%, 0%);
}

/* FOOTER */

.footer-container {
    direction: rtl;
    padding: 15px;
    font-family: 'Vazir', Arial, sans-serif;
}

.logo-container {
    display: inline-block;
}

.footer-txt-container {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    margin-right: 45px;
}

.social-box {
    margin-bottom: 25px;
}

.social-box .social-link-txt {
    color: black;
    text-decoration: none;
}

.fa {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.social-icons-txt {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
}

.footer-container hr {
    margin: 25px 0px;
}

.footer-container h3 {
    font-family: 'Vazir', Arial, sans-serif;
    text-align: center;
}

.technology-box{
    text-align: center;
}

.technology-logos{
    direction: ltr;
}

.technology-item{
    display: inline-block;
    margin: 10px 25px;
    cursor: pointer;
}

#last-txt {
    text-align: center;
    direction: rtl;
    font-family: 'Vazir', Arial, sans-serif;
}

/* ABOUT */
.about-header {
    width: 100%;
    text-align: center;
    background-color: #0d1117;
    padding: 25px;
    font-family: 'Vazir', Arial, sans-serif;
    direction: rtl;
}

.about-header p {
    color: white;
}

.about-header-txt {
    font-weight: bold;
    text-align: center;
    margin: 25px 0;
    color: white;
    cursor: pointer;
    transition: .5s cubic-bezier(.79, .14, .15, .86);
}

.about-header-txt:hover {
    color: #fff;
    text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #fff;
    letter-spacing: 3px;
}

#about-img {
    width: 200px;
    text-align: center;
    cursor: pointer;
    margin: 50px;
}

#logo-hint{
    font-family: 'Oswald', sans-serif;
    color: white;
    cursor: pointer;
}

.my-logo{
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#staticBackdropFirstPage{
    direction: rtl;
    font-family: 'Vazir', Arial, sans-serif;

}


@media only screen and (max-width: 600px) {

    * p{
        font-size: 14px;
    }

    .navbar-container a {
        font-size: 14px;
    }

    .nav-link {
        padding: 0.5rem;
    }

    #navbar-brand{
        width: 35px;
    }

    .navbar-brand{
        margin-right: 0;
    }

    .modal-dialog{
        margin: 2.5rem;
    }

    .card {
        width: 75%;
        transform: translateX(-15%);
    }

    .logo-container{
        display: block;
        text-align: center;
    }

    .footer-txt-container{
        display: block;
        text-align: center;
    }

    .social-box{
        display: inline-block;
    }

    .fa{
        padding: 7.5px;
        font-size: 20px;
        vertical-align: top;
    }

    .gmail-box{
        margin-right: 15px;
    }

    .technology-box{
        margin-top: 25px;
    }

    #last-txt{
        font-size: 12px;
    }
} 