{% extends 'librarySystemDjango/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>فراموشی رمز عبور</title>
{% endblock %}

{% block content %}
    {% if validlink %}
    <div class="bckground-fixed">
        <img src="{% static 'images/watermark-background.jpg' %}" alt="watermark-background" class="watermark-image">
        <div class="container login-container">
            <h1 class="login-header-text">فراموشی رمز عبور</h1>
            <hr class="mt-0 mb-4">
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}

                <input type="submit" class="btn btn-success login-btn" value="تائید">
            </form>
        </div>
    </div>
  {% else %}
    <p>
      لینک تغییر پسورد شما نامعتبر می‌باشد. این لینک ممکن است قبلا استفاده شده باشد.
    </p>
  {% endif %}
{% endblock %}