.subscription-card{
    width: 31.55%;
    display: inline-block;
    margin: 10px;
}

#golden-subscription-card{
    border: 2px solid #FFD700;
}

#silver-subscription-card{
    border: 2px solid #C0C0C0;
}

#bronze-subscription-card{
    border: 2px solid #CD7F32;
}

@media only screen and (max-width:600px){
    .subscription-card{
        width: 75%;
        display: block;
        margin-top: 25px;
    }
}